.card_container {
	padding: 10px;
	// padding-right: 15px;
	// padding-left: 0;
	.card {
		cursor: pointer;
		background: #fff;
		border-radius: 2px;
		display: inline-block;
		min-height: 300px;
		position: relative;
		width: 100%;
		transition: all 0.5s;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		}
	}
}
